@import "variables";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../node_modules/select2-bootstrap-theme/src/select2-bootstrap";

@import "chart";
@import "pikaday-theme";

body {
  background: #95a5a6;
}

*:focus {
  outline: none;
}

.hand {
  cursor: pointer;
}

.tree {
  height: auto;
  max-height: 300px;
  overflow-x: hidden;
}

.tree .list-group-item {
  border: 0px;
}