<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink="/" class="navbar-brand">NOC BI</a>
        </div>

        <div class="collapse navbar-collapse" *ngIf="isLogin$ | async">
            <ul *ngIf="isReportOpen$ | async; else openReport" class="nav navbar-nav">
                <li class="dropdown" dropdown>
                    <a dropdownToggle class="dropdown-toggle" translate>
                        HEADER.REPORTS<span class="caret"></span>
                    </a>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                        <li><a class="hand" routerLink="list" translate>HEADER.OPEN</a></li>
                        <li *ngIf="(accessLevel$ | async) === 2">
                            <a class="hand" [routerLink]="['share', (board$ | async).id]" translate>HEADER.SHARE</a>
                        </li>
                        <li *ngIf="(accessLevel$ | async) === 2">
                            <a class="hand" (click)="removeConfirm.open()" translate>HEADER.REMOVE</a>
                        </li>
                        <li *ngIf="(accessLevel$ | async) >= 0">
                            <a class="hand" (click)="saveAs.open()" translate>HEADER.SAVE_AS</a>
                        </li>
                        <li *ngIf="(accessLevel$ | async) > 0">
                            <a class="hand" (click)="onSaveBoard()" translate>HEADER.SAVE</a>
                        </li>
                        <li *ngIf="(accessLevel$ | async) === 2">
                            <a class="hand" (click)="addField.open()" translate>HEADER.ADD_FIELD</a>
                        </li>
                    </ul>
                </li>
                <li class="not-active"><a>{{ (board$ | async).title }}</a></li>
                <li [ngClass]="{'disabled': exportSpin}">
                    <a type="button" class="hand" (click)="onExport()" translate>
                        <i *ngIf="exportSpin"
                           class="fa fa-spinner fa-spin fa-fw icon-offset"></i>
                        HEADER.EXPORT</a></li>
                <li class="not-active"><a>
                    <bi-counter [board]="board$ | async"></bi-counter>
                </a></li>
                <li class="not-active"><a translate>ACCESS.ACCESS
                    <bi-access-level [level$]="accessLevel$"></bi-access-level>
                </a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" dropdown>
                    <a dropdownToggle class="dropdown-toggle">
                        <i class="fa fa-language icon-offset"></i>
                        {{ lang }}<span class="caret"></span>
                    </a>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                        <li><a class="hand"
                               *ngFor="let l of languageService.languages"
                               (click)="onChangeLang(l)">{{ l }}</a></li>
                    </ul>
                </li>
                <li class="dropdown" dropdown>
                    <a dropdownToggle class="dropdown-toggle">
                        <i class='fa fa-user icon-offset'></i>{{ displayName$ | async }}<span
                            class="caret"></span>
                    </a>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                        <li><a class="hand" (click)="about.open()" translate>
                            <i class="fa fa-question-circle icon-offset"></i>HEADER.ABOUT</a>
                        </li>
                        <li><a href="https://code.getnoc.com/noc/bi-runner/issues" target="_blank" translate>
                            <i class="fa fa-external-link icon-offset">
                            </i>HEADER.ISSUE</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a routerLink="login" translate>
                            <i class="fa fa-sign-out icon-offset"></i>HEADER.LOGOUT</a>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<ng-template #openReport>
    <ul class="nav navbar-nav">
        <li><a class="hand" routerLink="list" translate>HEADER.OPEN</a></li>
    </ul>
</ng-template>

<bi-modal #about>
    <bi-modal-header translate>HEADER.ABOUT_DLG.TITLE</bi-modal-header>
    <bi-modal-content>
        <p translate [translateParams]="{value: version}">HEADER.ABOUT_DLG.CONTENT</p>
        <small>Copyright © 2007-2020, The NOC Project</small>
    </bi-modal-content>
    <bi-modal-footer>
        <button class="btn btn-default" (click)="about.close()" translate>HEADER.ABOUT_DLG.CLOSE</button>
    </bi-modal-footer>
</bi-modal>

<bi-modal #saveAs>
    <bi-modal-header translate>HEADER.SAVE_DLG.TITLE</bi-modal-header>
    <bi-modal-content>
        <form id="#saveForm" [formGroup]="saveForm">
            <label for="save-title" class="control-label" translate>HEADER.SAVE_DLG.NAME</label>
            <input id="save-title" class="form-control" required autofocus
                   formControlName="title">
            <div *ngIf="saveForm.get('title').hasError('required')">
                <div class="ng-invalid" translate>VALIDATOR.REQUIRED</div>
            </div>
            <div *ngIf="titleError">
                <div class="ng-invalid" translate>{{ titleError }}</div>
            </div>
            <label for="save-description" class="control-label" translate>HEADER.SAVE_DLG.DESCRIPTION</label>
            <input id="save-description" class="form-control"
                   formControlName="description">
        </form>
    </bi-modal-content>
    <bi-modal-footer>
        <button form="#saveForm" class="btn btn-primary" [disabled]="!saveForm.valid"
                (click)="onSaveAsBoard(saveAs)" translate>HEADER.SAVE_DLG.SAVE_AS
        </button>
        <button class="btn btn-default" (click)="saveAs.close()" translate>HEADER.SAVE_DLG.CLOSE</button>
    </bi-modal-footer>
</bi-modal>

<bi-modal #removeConfirm>
    <bi-modal-header translate>HEADER.REMOVE_DLG.TITLE</bi-modal-header>
    <bi-modal-content translate>HEADER.REMOVE_DLG.CONTENT</bi-modal-content>
    <bi-modal-footer>
        <button class="btn btn-primary"
                (click)="onRemoveBoard(removeConfirm)" translate>HEADER.REMOVE_DLG.YES
        </button>
        <button class="btn btn-default"
                (click)="removeConfirm.close()" translate>HEADER.REMOVE_DLG.NO
        </button>
    </bi-modal-footer>
</bi-modal>

<bi-modal #addField>
    <bi-modal-header translate>HEADER.ADD_FIELD_DLG.TITLE</bi-modal-header>
    <bi-modal-content>
        <form id="#addFieldForm" [formGroup]="addFieldForm">
            <label for="add-field-name" class="control-label" translate>HEADER.ADD_FIELD_DLG.NAME</label>
            <!--            <input id="add-field-name" class="form-control" required autofocus formControlName="name">-->
            <select id="add-field-name"
                    class="form-control"
                    formControlName="name">
                <option [value]="'none'" translate>Choose Field</option>
                <option *ngFor="let item of newFields$ | async" [value]="item.value">{{ item.text }}</option>
            </select>
            <div *ngIf="addFieldForm.get('name').hasError('required')">
                <div class="ng-invalid" translate>VALIDATOR.REQUIRED</div>
            </div>
            <label for="add-field-group" class="control-label" translate>HEADER.ADD_FIELD_DLG.GROUP</label>
            <input id="add-field-group" type="number" class="form-control" required formControlName="group"
                   placeholder="9999999999" min="1">
            <div *ngIf="addFieldForm.get('group').hasError('required')">
                <div class="ng-invalid" translate>VALIDATOR.REQUIRED</div>
            </div>
            <fieldset>
                <legend translate>HEADER.ADD_FIELD_DLG.ADD_TO</legend>
                <div class="checkbox rtl checkbox-primary checkbox-circle">
                    <input id="add-field-to-fields"
                           [checked]="true"
                           formControlName="fields"
                           class="styled" type="checkbox">
                    <label for="add-field-to-fields" class="control-label"
                           translate>HEADER.ADD_FIELD_DLG.TO_FIELDS</label>
                </div>
                <div class="checkbox rtl checkbox-primary checkbox-circle">
                    <input id="add-field-to-filters"
                           [checked]="true"
                           formControlName="filters"
                           class="styled" type="checkbox">
                    <label for="add-field-to-filters" class="control-label"
                           translate>HEADER.ADD_FIELD_DLG.TO_FILTERS</label>
                </div>
            </fieldset>
        </form>
    </bi-modal-content>
    <bi-modal-footer>
        <button form="#addFieldForm" class="btn btn-primary" [disabled]="!addFieldForm.valid"
                (click)="onAddField(addField)" translate>HEADER.ADD_FIELD_DLG.ADD
        </button>
        <button class="btn btn-default" (click)="addField.close()" translate>HEADER.ADD_FIELD_DLG.CLOSE</button>
    </bi-modal-footer>
</bi-modal>
