<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink="/" class="navbar-brand">NOC BI</a>
        </div>

        <div class="collapse navbar-collapse" *ngIf="isLogin$ | async">
            <ul *ngIf="isReportOpen$ | async; else openReport" class="nav navbar-nav">
                <li class="dropdown" biDropdown>
                    <a class="dropdown-toggle" role="button">Reports<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a class="hand" routerLink="list">Open</a></li>
                    </ul>
                </li>
                <li class="not-active"><a>{{ (board$ | async).title }}</a></li>
                <li><a class="hand" (click)="onExport()">
                    <i *ngIf="isExecExport"
                       class="fa fa-spinner fa-spin fa-fw icon-offset"></i>Export</a></li>
                <li class="not-active"><a>
                    <bi-counter [board]="board$ | async"></bi-counter>
                </a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" biDropdown>
                    <a class="dropdown-toggle" role="button">
                        <i class='fa fa-user icon-offset'
                           aria-hidden='true'></i>{{ (user$ | async).display() }}<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="hand" (click)="about.open()">
                            <i class="fa fa-question-circle icon-offset"
                               aria-hidden="true"></i>About</a>
                        </li>
                        <li><a href="https://code.getnoc.com/noc/bi-runner/issues">
                            <i class="fa fa-external-link" aria-hidden="true">
                            </i>Create issue</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a routerLink="login">
                            <i class="fa fa-sign-out icon-offset"
                               aria-hidden="true"></i>Logout</a>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<ng-template #openReport>
    <ul class="nav navbar-nav">
        <li><a class="hand" routerLink="list">Open</a></li>
    </ul>
</ng-template>

<bi-modal #about>
    <bi-modal-header>Application NOC BI</bi-modal-header>
    <bi-modal-content>
        <p>NOC BI version {{ version }}</p>
        <small>Copyright © 2007-2017, The NOC Project</small>
    </bi-modal-content>
    <bi-modal-footer>
        <button class="btn btn-default" (click)="about.close()">Close</button>
    </bi-modal-footer>
</bi-modal>