<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink="/" class="navbar-brand">NOC BI</a>
        </div>

        <div class="collapse navbar-collapse" *ngIf="isLogin$ | async">
            <ul *ngIf="isReportOpen$ | async; else openReport" class="nav navbar-nav">
                <li class="dropdown" biDropdown>
                    <a class="dropdown-toggle" role="button">Reports<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a class="hand" routerLink="list">Open</a></li>
                        <li *ngIf="(accessLevel$ | async) === 2">
                            <a class="hand" [routerLink]="['share', (board$ | async).id]">Share</a>
                        </li>
                        <!--<li>-->
                        <li *ngIf="(accessLevel$ | async) === 2">
                            <a class="hand" (click)="removeConfirm.open()">Remove</a>
                        </li>
                        <li *ngIf="(accessLevel$ | async) >= 0">
                            <a class="hand" (click)="saveAs.open()">Save As</a>
                        </li>
                        <!--<li>-->
                        <li *ngIf="(accessLevel$ | async) > 0">
                            <a class="hand" (click)="onSaveBoard()">Save</a>
                        </li>
                    </ul>
                </li>
                <li class="not-active"><a>{{ boardTitle }}</a></li>
                <li><a class="hand" (click)="onExport()">
                    <i *ngIf="isExecExport"
                       class="fa fa-spinner fa-spin fa-fw icon-offset"></i>Export</a></li>
                <li class="not-active"><a>
                    <bi-counter [board]="board$ | async"></bi-counter>
                </a></li>
                <li class="not-active"><a>
                    <bi-access-level [level$]="accessLevel$"></bi-access-level>
                </a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" biDropdown>
                    <a class="dropdown-toggle" role="button">
                        <i class='fa fa-user icon-offset'
                           aria-hidden='true'></i>{{ (user$ | async).display() }}<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="hand" (click)="about.open()">
                            <i class="fa fa-question-circle icon-offset"
                               aria-hidden="true"></i>About</a>
                        </li>
                        <li><a href="https://code.getnoc.com/noc/bi-runner/issues" target="_blank">
                            <i class="fa fa-external-link" aria-hidden="true">
                            </i>Create issue</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a routerLink="login">
                            <i class="fa fa-sign-out icon-offset"
                               aria-hidden="true"></i>Logout</a>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<ng-template #openReport>
    <ul class="nav navbar-nav">
        <li><a class="hand" routerLink="list">Open</a></li>
    </ul>
</ng-template>

<bi-modal #about>
    <bi-modal-header>Application NOC BI</bi-modal-header>
    <bi-modal-content>
        <p>NOC BI version {{ version }}</p>
        <small>Copyright © 2007-2017, The NOC Project</small>
    </bi-modal-content>
    <bi-modal-footer>
        <button class="btn btn-default" (click)="about.close()">Close</button>
    </bi-modal-footer>
</bi-modal>

<bi-modal #saveAs>
    <bi-modal-header>Save As</bi-modal-header>
    <bi-modal-content>
        <form [formGroup]="saveForm">
            <div class="form-group">
                <label for="save-title" class="control-label">Title</label>
                <input id="save-title" class="form-control"
                       [ngModel]="boardTitle" formControlName="title">
            </div>
            <div class="form-group">
                <label for="save-description" class="control-label">Description</label>
                <input id="save-description" class="form-control"
                       [ngModel]="boardDesc" formControlName="description">
            </div>
        </form>
    </bi-modal-content>
    <bi-modal-footer>
        <button class="btn btn-primary" (click)="onSaveAsBoard(saveAs)">Save As</button>
        <button class="btn btn-default" (click)="saveAs.close()">Close</button>
    </bi-modal-footer>
</bi-modal>

<bi-modal #removeConfirm>
    <bi-modal-header>Remove Board</bi-modal-header>
    <bi-modal-content>
        Are you sure to delete dashboard?
    </bi-modal-content>
    <bi-modal-footer>
        <button class="btn btn-primary" (click)="onRemoveBoard(removeConfirm)">Yes</button>
        <button class="btn btn-default" (click)="removeConfirm.close()">No</button>
    </bi-modal-footer>
</bi-modal>