<div [formGroup]="filter">
    <div class="row" style="padding: 0 15px 0 15px;">
        <div class="col-md-3" (change)="onChange($event.target.value, fieldFieldName)">
            <ng-container biDynamicField
                          [config]="fieldConfig"
                          [form]="filter">
            </ng-container>
        </div> <!-- Choose field -->
        <div class="col-md-2" (change)="onChange($event.target.value, conditionFieldName)">
            <ng-container biDynamicField
                          [config]="conditionConfig"
                          [form]="filter">
            </ng-container>
        </div> <!-- Choose condition -->
        <div class="col-md-3"
             [ngClass]="{'col-md-3': valueSecondConfig, 'col-md-6': !valueSecondConfig}">
            <ng-container biDynamicField
                          [config]="valueFirstConfig"
                          [form]="filter">
            </ng-container>
        </div>
        <div class="col-md-3" *ngIf="valueSecondConfig">
            <ng-container biDynamicField
                          [config]="valueSecondConfig"
                          [form]="filter">
            </ng-container>
        </div>
        <div class="col-md-1 pull-right text-right">
            <i class="checkbox fa fa-times-circle hand"
               (click)="onFilterClose()"></i>
        </div> <!-- Close button -->
    </div>
</div>
