@import "variables";

.chart-wrapper {
  font-family: $font-family;
  background: #ecf0f1;
  border: 1px solid #e2e2e2;
  margin: 5px -10px 5px -10px;
  /*margin-bottom: 10px;*/
  -moz-border-radius: 10px; /* old Mozilla Firefox */
  -webkit-border-radius: 10px; /* old Chrome и Safari */
  -khtml-border-radius: 10px; /* Linux Konquerer */
  border-radius: 10px;
}

.chart-wrapper .chart-title {
  border-bottom: 1px solid #d7d7d7;
  background: $brand-primary;
  color: #ffffff;
  font-size: 14px;
  font-weight: 200;
  padding: 7px 10px 4px;
  -moz-border-radius: 10px 10px 0 0; /* old Mozilla Firefox */
  -webkit-border-radius: 10px 10px 0 0; /* old Chrome и Safari */
  -khtml-border-radius: 10px 10px 0 0; /* Linux Konquerer */
  border-radius: 10px 10px 0 0;
}

.chart-wrapper .chart-stage {
  overflow: hidden;
  margin-top: 10px;
  /*margin-left: 10px;*/
  /*padding-left: 15px;*/
  //padding: 5px 20px 0 10px;
  position: relative;
}

.chart-wrapper .chart-notes {
  background: #fbfbfb;
  border-top: 1px solid #e2e2e2;
  color: #808080;
  font-size: 12px;
  padding: 8px 10px 5px;
  -moz-border-radius: 0 0 10px 10px; /* old Mozilla Firefox */
  -webkit-border-radius: 0 0 10px 10px; /* old Chrome и Safari */
  -khtml-border-radius: 0 0 10px 10px; /* Linux Konquerer */
  border-radius: 0 0 10px 10px;
}

.report-title {
  border-bottom: 1px solid #d7d7d7;
  background: $brand-primary;
  color: #ffffff;
  font-family: $font-family;
  font-size: 20px;
  font-weight: 200;
  padding: 7px 10px 4px;
  margin: 20px 5px 15px 5px;
  -moz-border-radius: 10px 10px 10px 10px; /* old Mozilla Firefox */
  -webkit-border-radius: 10px 10px 10px 10px; /* old Chrome и Safari */
  -khtml-border-radius: 10px 10px 10px 10px; /* Linux Konquerer */
  border-radius: 10px 10px 10px 10px;
}

.cell {
  border: 1px solid #e2e2e2;
}

.title-left {
  padding-left: 5px;
  float: left;
}

.title-right {
  padding-right: 5px;
  float: right;
}

.fix .fa-spin {
  -webkit-transform-origin: 50% calc(50% - .5px);
  transform-origin: 50% calc(50% - .5px);
}

.selector {
  display: none;
  padding: 5px;
}

.reset {
  font-family: $font-family;
  color: #ffffff !important;
}

.filter {
  font-family: $font-family;
  color: #ffffff;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.expanded:after {
  font-family: 'FontAwesome';
  font-size: 20px;
  content: "\f139";
  cursor: pointer;
  cursor: hand;
}

.collapsed:after {
  font-family: 'FontAwesome';
  font-size: 20px;
  content: "\f13a";
  cursor: pointer;
  cursor: hand;
}

.spinner {
  position: relative;
  width: 14px;
  height: 14px;
}

.spinner:before {
  content: "\f110";
  font-family: FontAwesome;
  font-size: 14px;
  position: absolute;
  top: 0;
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

.shared {
  position: relative;
  width: 14px;
  height: 14px;
}

.shared:before {
  content: "\f1e0";
  font-family: FontAwesome;
  font-size: 14px;
  padding-left: 5px;
  top: 0;
}

.times {
  position: relative;
  width: 14px;
  height: 14px;
}

.times:before {
  content: "\f00d";
  font-family: FontAwesome;
  font-size: 14px;
  padding-left: 5px;
  top: 0;
}

.trash {
  position: relative;
  width: 14px;
  height: 14px;
}

.trash:before {
  content: "\f1f8";
  font-family: FontAwesome;
  font-size: 14px;
  padding-left: 5px;
  top: 0;
}

.shared-rotate:before {
  content: "\f110";
  font-family: FontAwesome;
  font-size: 14px;
  padding-left: 5px;
  top: 0;
}

.spinner-blank {
  position: relative;
  width: 14px;
  height: 14px;
}

.spinner-blank:before {
  font-family: FontAwesome;
  font-size: 14px;
  position: absolute;
  top: 0;
}
