<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>GroupBy</th>
    </tr>
    </thead>
    <tbody>
    <div *ngFor="let field of fields$ | async">
        <tr [ngClass]="{'disabled-row': !field.isSelectable}"
            *ngIf="field.isSelectable">
            <td>
                <div class="checkbox rtl checkbox-primary" tooltip="{{ field.description }}" placement="right">
                    <span>{{ field.name }}</span>
                </div>
            </td>
            <td>
                <div class="checkbox rtl checkbox-primary">
                    {{ field.dict ? field.dict : field.type }}
                </div>
            </td>
            <td>
                <div class="checkbox rtl checkbox-primary checkbox-circle">
                    <input id="groupBy-{{ field.name }}"
                           [checked]="field.grouped"
                           class="styled" type="checkbox"
                           [disabled]="!field.isGrouping"
                           (click)="onGroupBy(field, isGrouped)"
                           #isGrouped>
                    <label for="groupBy-{{ field.name }}"></label>
                </div>
            </td>
        </tr>
    </div>
</table>
