.btn-import {
  position: relative;
  overflow: hidden;
}

.btn-import input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.spin:after {
  content: "\f110";
  font-family: FontAwesome;
  font-size: 14px;
  position: absolute;
  right: 50px;
  top: 15px;
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}