<div class="row">
    <div class="col-md-12">
        <div class="chart-wrapper">
            <div class="chart-title" (click)="collapsed = !collapsed">
                <div class="title-left" translate>SELECTOR.TITLE</div>
                <div class="title-right"
                     [ngClass]="{'collapsed': collapsed, 'expanded': !collapsed}">
                </div>
                <div style="clear:both;"></div>
            </div>
            <div class="chart-stage" [ngClass]="{'collapse': collapsed}">
                <div class="container-fluid">
                    <div class="row vertical-align">
                        <div class="col-md-2" translate>SELECTOR.RANGE
                        </div>
                        <div class="col-md-7">
                            <bi-datetime-range
                                    [fromControlName]="this.START_DATE"
                                    [toControlName]="this.END_DATE">
                            </bi-datetime-range>
                        </div>
                        <div class="col-md-3 text-right" translate
                        [translateParams]="{value: (lastUpdate$ | async | datex:'DD.MM.YYYY')}">
                            SELECTOR.UPDATED
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <!-- scrolling -->
                        <!--style="overflow-y: auto;">-->
                        <div class="col-md-5" style="height: 550px">
                            <bi-groupby [board]="board"></bi-groupby>
                        </div>
                        <div class="col-md-7" style="padding-right: 30px;">
                            <bi-filter-form></bi-filter-form>
                            <div *ngIf="!production">
                                is valid : {{ filters.valid }}
                                <hr>
                                form params : {{ filters.value | json }}
                                <hr>
                                sql : {{ debug.debug$ | async | json }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chart-notes" translate>SELECTOR.NOTES</div>
        </div>
    </div>
</div>
