<div class="row">
    <div class="col-md-12">
        <div id="field-aggregate" class="chart-wrapper">
            <div class="chart-title">
                <div class="title-left">Field Aggregate</div>
                <div class="title-right collapsed"></div>
                <div style="clear:both;"></div>
            </div>
            <div class="chart-stage collapse" aria-expanded="false">
                <div class="row">
                    <form class="form-horizontal aggregate-by-field">
                        <div class="form-group" style="margin-bottom: 10px;">
                            <label class="col-md-1 col-md-offset-1">List of fields:</label>
                        </div>
                    </form>
                </div>
                <a class="btn btn-default pull-right save" style="margin: -3px 10px 3px;">Save</a>
            </div>
            <div class="chart-notes">Aggregate</div>
        </div>
    </div>
</div>
