<div class="row">
    <div class="col-md-12">
        <div id="field-aggregate" class="chart-wrapper">
            <div class="chart-title">
                <div class="title-left">%__('Field Aggregate')__%</div>
                <div class="title-right collapsed"></div>
                <div style="clear:both;"></div>
            </div>
            <div class="chart-stage collapse" aria-expanded="false">
                <div class="row">
                    <form class="form-horizontal aggregate-by-field">
                        <div class="form-group" style="margin-bottom: 10px;">
                            <label class="col-md-1 col-md-offset-1">%__('List of fields')__%:</label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="chart-notes">%__('Aggregate')__%</div>
        </div>
    </div>
</div>
