<div class="{class}">
    <div class="chart-wrapper">
        <div class="chart-title">
            <div class="title-left">{title}</div>
            <div class="title-right spinner"><i class="fa fa-spinner fa-spin fa-fw"></i></div>
            <div class="title-right reset" style="display: none;padding-left: 5px;">
                <span class="filter" style="display: none;padding-left: 5px;"></span>
                <a class="reset {name}" style="display: none;padding-left: 10px">reset</a>
                <!--<a class="reset" href="javascript:dashboard.{name}.chart.filterAll();dashboard.{name}.chart.render();"-->
                <!--style="display: none;padding-left: 10px">reset</a>-->
            </div>
            <div style="clear:both;"></div>
        </div>
        <div class="chart-stage">
            <div id="{name}" style="height: {height}px">
            </div>
        </div>
        <div class="chart-notes">{note}</div>
    </div>
</div>
