<div class="row">
    <div class="col-md-12">
        <div id="field-selector" class="chart-wrapper">
            <div class="chart-title">
                <div class="title-left">Filter by Field</div>
                <div class="title-right collapsed"></div>
                <div style="clear:both;"></div>
            </div>
            <div class="chart-stage collapse" aria-expanded="false">
                <div class="row">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-2">List of fields (AND) :</label>
                            <div class="col-md-6">
                                <select id="fields"></select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="filters-by-field" style="margin: 0 10px 5px 10px;"></div>
                <a class="btn btn-default pull-right save" style="margin: -3px 10px 3px;">Save</a>
            </div>
            <div class="chart-notes">Filter</div>
        </div>
    </div>
</div>
