<div class="form-group">
    <label class="control-label col-md-2 remove-inner-row">
        <i class="fa fa-times hand" aria-hidden="true" style="padding-right: 10px;"></i>{description}</label>
    <label class="control-label col-md-1">%__('Condition')__%:</label>
    <div class="col-md-2">
        <select class="form-control condition"></select>
    </div>
    <div class="first-value">
        <label class="control-label col-md-1">%__('Value')__%:</label>
        <div class="col-md-6">
            <input type="text" class="form-control values" name="{name}" placeholder="%__('Value')__%">
        </div>
    </div>
</div>
<div class="form-group second-value hidden">
    <label class="control-label col-md-6">%__('To Value')__%:</label>
    <div class="col-md-6">
        <input type="text" class="form-control values" name="{name}" placeholder="%__('To Value')__%">
    </div>
</div>