<div class="panel" style="margin-bottom: 10px;">
    <div class="panel-heading" style="border-color: #ddd;font-size: 16px;">
        <div>
            <div class="title-left"><b>{description}</b>, {type}</div>
            <div style="float: right;" class="close-panel hand">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
    <div class="panel-body" style="padding-bottom: 0;">
        <form class="form-horizontal">
            <div class="filter-rows">
            </div>
            <div class="form-group buttons" style="margin-bottom: 10px;">
                <div class="pull-right" style="margin-right: 10px;">
                    <a class="btn btn-default clean-filter btn-sm">%__('Clear')__%</a>
                    <a class="btn btn-default apply-filter btn-sm">%__('Apply')__%</a>
                </div>
            </div>
        </form>
    </div>
</div>