<div class="row">
    <div class="col-md-12">
        <div id="time-selector" class="chart-wrapper">
            <div class="chart-title">
                <div class="title-left">{title}</div>
                <div class="title-right collapsed"></div>
                <div style="clear:both;"></div>
            </div>
            <div class="chart-stage collapse" aria-expanded="false">
                <div class="row">
                    <div class="btn-group-vertical nav-stack col-md-2 col-md-offset-1" style="padding-top: 30px;">
                        <a onclick="dashboard.timeSelector({'period': 'cur', 'value': 'day'})" class="btn btn-default"
                           style="margin-bottom: 10px;">%__(:Today:)__%</a>
                        <a onclick="dashboard.timeSelector({'period': 'cur', 'value': 'monday'})" class="btn btn-default"
                           style="margin-bottom: 10px;">This week</a>
                        <a onclick="dashboard.timeSelector({'period': 'cur', 'value': 'month'})" class="btn btn-default"
                           style="margin-bottom: 10px;">This month</a>
                        <a onclick="dashboard.timeSelector({'period': 'cur', 'value': 'year'})" class="btn btn-default"
                           style="margin-bottom: 10px;">This year</a>
                    </div>
                    <div class="btn-group-vertical nav-stack col-md-2" style="padding-top: 30px;">
                        <a onclick="dashboard.timeSelector({'period': 'prev', 'value': 'day'})" class="btn btn-default"
                           style="margin-bottom: 10px;">Yesterday</a>
                        <a onclick="dashboard.timeSelector({'period': 'prev', 'value': 'monday'})" class="btn btn-default"
                           style="margin-bottom: 10px;">Previous week</a>
                        <a onclick="dashboard.timeSelector({'period': 'prev', 'value': 'month'})" class="btn btn-default"
                           style="margin-bottom: 10px;">Previous month</a>
                        <a onclick="dashboard.timeSelector({'period': 'prev', 'value': 'year'})" class="btn btn-default"
                           style="margin-bottom: 10px;">Previous year</a>
                    </div>
                    <div class="col-md-5 col-md-offset-1" style="padding-bottom: 10px;">
                        <div class="pull-left">
                            <input id="startInterval" type="text" style="display: none;"/>
                            <div id="startIntervalContainer"></div>
                        </div>
                        <div class="pull-left">
                            <input id="endInterval" type="text" style="display: none;"/>
                            <div id="endIntervalContainer"></div>
                            <a href="#" id="selectBtn" class="btn btn-default pull-right"
                               style="width: 100px" disabled="disabled">Select</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chart-notes">Time Selector</div>
        </div>
    </div>
</div>
