<span class="select2 select2-container select2-container--bootstrap" dir="ltr" style="width: auto;">
    <input type="text" class="form-control values hidden" name="{name}">
    <span class="selection">
        <a type="button" class="select2-selection select2-selection--single btn btn-default dropdown-toggle"
                data-toggle="dropdown" style="text-align:left; width: 100%;">
            <span class="select2-selection__rendered">{nameHeader}</span>
            <span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span>
        </a>

        <div class="dropdown-menu" role="menu" style="width: 100%;">
            <div class="col-md-12 input-group" style="padding: 0 10px 10px 10px; height: 34px;">
                <input type="text" class="form-control pattern" title="%__('search elements')__%" placeholder="%__('pattern')__%"  style="height: 34px;">
            </div>
            <div class="tree"></div>
        </div>
    </span>
</span>