<div class="{{ cellClass }}">
    <div class="chart-wrapper" #wrapper>
        <div class="chart-title">
            <div class="title-left"
                 translate
                 [translateParams]="{value: fieldName}"
                 *ngIf="fieldName; else fromConfig">WIDGET.TITLE</div>
            <ng-template #fromConfig>{{ data.widget.title }}</ng-template>
            <div class="title-right"
                 [ngClass]="{'spinner': showSpinner, 'spinner-blank' : !showSpinner}">
            </div>
            <div style="padding-left: 10px"
                 class="title-right hand"
                 *ngIf="showReset"
                 (click)="onReset()" translate>WIDGET.RESET
            </div>
            <div class="title-right"
                 *ngIf="showReset"
                 style="padding-left: 5px;">{{ title }}
            </div>
            <div style="clear:both;"></div>
        </div>
        <div class="chart-stage">
            <form *ngIf="isSelectable()"
                  [formGroup]="chooseFieldForm"
                  class="form-inline pull-right"
                  style="padding-right: 10px;">
                <div class="form-group form-field">
                    <label class="control-label" for="select-field-{{ data.cell.name }}" translate>Field:</label>
                    <select id="select-field-{{ data.cell.name }}" class="form-control" [formControlName]="'name'" required>
                        <option [ngValue]="''" translate>SELECT_FIELD</option>
                        <option *ngFor="let item of fields$ | async"
                                [value]="item.value" translate>
                            {{ item.text }}
                        </option>
                    </select>
                </div>
                <div class="form-group form-field">
                    <label class="control-label" for="select-func-{{ data.cell.name }}" translate>Function:</label>
                    <select id="select-func-{{ data.cell.name }}" class="form-control" [formControlName]="'func'" required>
                        <option [ngValue]="''" translate>SELECT_FUNCTION</option>
                        <option *ngFor="let item of funcs"
                                [value]="item.value" translate>
                            {{ item.text }}
                        </option>
                    </select>
                </div>
                <button (click)="chooseCol()"
                        [disabled]="!chooseFieldForm.valid"
                        class="btn btn-default btn-sm" translate>Choose Field
                </button>
            </form>
            <div id="{{ data.cell.name }}"
                 [ngStyle]="{'height.px': data.cell.height, 'padding-left.px': data.cell.offset}">
            </div>
        </div>
        <div class="chart-notes">{{ data.widget.note }}</div>
    </div>
</div>
