<div class="{{ cellClass }}">
    <div class="chart-wrapper" #wrapper>
        <div class="chart-title">
            <div class="row">
                <div class="col-md-6">{{ data.widget.title }}</div>
                <div class="col-md-1 pull-right text-right" *ngIf="showSpinner">
                    <i class="fa fa-spinner fa-spin fa-fw"></i>
                </div>
            </div>
        </div>
        <div class="chart-stage">
            <form *ngIf="data.widget.type === 'topTable'"
                  [formGroup]="addFieldForm"
                  class="form-inline pull-right"
                  style="padding-right: 10px;">
                <div class="form-group form-field">
                    <label for="select-field" class="control-label" translate>Field:</label>
                    <select id="select-field" class="form-control" [formControlName]="'name'" required>
                        <option [ngValue]="''" translate>SELECT_FIELD</option>
                        <option *ngFor="let item of fields$ | async"
                                [value]="item.value" translate>
                            {{ item.text }}
                        </option>
                    </select>
                </div>
                <div class="form-group form-field">
                    <label for="select-format" class="control-label" translate>Format:</label>
                    <select id="select-format" class="form-control" [formControlName]="'format'">
                        <option [ngValue]="''" translate>SELECT_FORMAT</option>
                        <option *ngFor="let item of formats"
                                [value]="item.value" translate>
                            {{ item.text }}
                        </option>
                    </select>
                </div>
                <div class="form-group form-field">
                    <label for="label" class="control-label" translate>Label:</label>
                    <input id="label" class="form-control" formControlName="label" [placeholder]="'Label' | translate" required>
                </div>
                <div class="form-group form-field">
                    <label for="limit" class="control-label" translate>Limit:</label>
                    <input id="limit" class="form-control" formControlName="limit" [placeholder]="'Limit' | translate" required>
                </div>
                <div class="form-group form-field">
                    <div class="checkbox rtl checkbox-primary checkbox-circle"
                         [tooltip]="'WIDGET.ONLY.NUMERIC' | translate"
                         [placement]="'bottom'">
                        <input id="sorted"
                               formControlName="sortable"
                               class="styled" type="checkbox">
                        <label for="sorted" translate>Sortable</label>
                    </div>
                </div>
                <button (click)="addCol()"
                        [disabled]="!addFieldForm.valid"
                        class="btn btn-default btn-sm" translate>Add Field
                </button>
            </form>
            <table class="table table-hover" id="{{ data.cell.name }}">
                <thead>
                <tr class="header">
                    <th *ngFor="let column of data.widget.query.getLabeledFields()"
                        (click)="sort(column)"> {{ column.label }}
                        <i *ngIf="data.widget.type === 'topTable'"
                           style="cursor: pointer;"
                           class="fa fa-times"
                           (click)="removeCol(column)"
                           [tooltip]="'WIDGET.REMOVE.COLUMN' | translate">
                        </i>
                        <i *ngIf="column.isSortable()"
                           style="cursor: pointer;"
                           class="fa fa-sort-up"
                           [ngClass]="{'fa-sort-desc': column.desc, 'fa-sort-up' : !column.desc}">
                        </i>
                        <sup [tooltip]="'WIDGET.ORDER.IN.SORT' | translate"
                             [placement]="'bottom'">{{column.order}}</sup>
                    </th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="chart-notes">{{ data.widget.note }}</div>
    </div>
</div>