*, ::after, ::before {
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.yk-dateRange-container {
  width: 280px;
  //height: 50px;
  background: #fff;
  display: inline-block;
  border: 1px solid #9da3a6;
  -moz-border-radius: 7px;
  border-radius: 7px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.yk-dateRange-container.is-active {
  border: 1px solid #2c3e50
}

.yk-dateRange-container .yk-input-section {
  outline: 0;
  padding: 5px 10px;
  color: #2c2e2f;
  cursor: pointer;
  position: relative;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease
}

.yk-dateRange-container .yk-input-section .yk-content, .yk-dateRange-container .yk-input-section .yk-label {
  font-size: 12px;
  line-height: 20px;
  display: block;
  text-align: center
}

.yk-dateRange-container .yk-input-section .yk-label {
  color: #2c3e50
}

.yk-dateRange-container .yk-input-section .yk-icon {
  position: absolute;
  right: 10px;
  bottom: 5px;
  width: 20px;
  height: 20px
}

.yk-dateRange-container .yk-input-section .yk-icon svg {
  fill: #2c3e50
}

.yk-dateRange-container .yk-input-section.is-active {
  color: #fff;
  background-color: #2c3e50
}

.yk-dateRange-container .yk-input-section.is-active .yk-label {
  color: #fff
}

.yk-dateRange-container .yk-input-section.is-active .yk-icon svg {
  fill: #fff
}

.yk-dateRange-container .yk-input-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%
}

.yk-dateRange-container .yk-input-container .yk-input-section {
  width: 50%;
  height: 100%
}

.yk-dateRange-container .yk-input-container .yk-input-section:first-child {
  -moz-border-radius: 7px 0 0 7px;
  border-radius: 7px 0 0 7px;
  border-right: .5px solid #d4dade
}

.yk-dateRange-container .yk-input-container .yk-input-section:last-child {
  -moz-border-radius: 0 7px 7px 0;
  border-radius: 0 7px 7px 0;
  border-left: .5px solid #d4dade
}

.yk-dateRange-container .yk-calendar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  max-width: 500px;
  background: #fff;
  border: 1px solid #2c3e50;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 100;
  display: none;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow-y: scroll;
  -webkit-animation: popover .3s ease-in-out;
  -moz-animation: popover .3s ease-in-out;
  animation: popover .3s ease-in-out
}

@media only screen and (min-width: 768px) {
  .yk-dateRange-container .yk-calendar-container {
    position: absolute;
    top: -webkit-calc(50px + 20px);
    top: -moz-calc(50px + 20px);
    top: calc(50px + 20px);
    height: auto;
    overflow: inherit
  }
}

.yk-dateRange-container .yk-calendar-container.is-opened {
  margin: -20px 0 0 -70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex
}

.yk-dateRange-container .yk-calendar-container:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: -11px;
  left: 65px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top: 1px solid #2c3e50;
  border-left: 1px solid #2c3e50;
  background: #fff;
  -webkit-transition: left .5s;
  -moz-transition: left .5s;
  transition: left .5s;
  display: none
}

@media only screen and (min-width: 768px) {
  .yk-dateRange-container .yk-calendar-container:after {
    display: block
  }
}

.yk-dateRange-container .yk-calendar-container.is-to:after {
  left: 215px
}

.yk-dateRange-container .yk-calendar-container .yk-cancel-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 12px;
  height: 12px;
  cursor: pointer
}

.yk-dateRange-container .yk-calendar-container .yk-calendar {
  width: 100vw;
  border-bottom: 1px solid #d4dade;
  padding: 20px 20px 0 20px;
}

@media only screen and (min-width: 768px) {
  .yk-dateRange-container .yk-calendar-container .yk-calendar {
    width: 240px;
    border-right: 1px solid #d4dade;
    border-bottom: none
  }
}

.yk-dateRange-container .yk-calendar-container .yk-calendar .yk-calendar-control {
  font-size: 12px;
  line-height: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  width: 100%;
  margin-bottom: 10px
}

.yk-dateRange-container .yk-calendar-container .yk-calendar .yk-calendar-control-nav {
  position: relative;
  cursor: pointer;
  width: -webkit-calc(100% / 8);
  width: -moz-calc(100% / 8);
  width: calc(100% / 8)
}

.yk-dateRange-container .yk-calendar-container .yk-calendar .yk-calendar-control-nav > * {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.yk-dateRange-container .yk-calendar-container .yk-calendar .yk-calendar-control-nav .nav-next::before, .yk-dateRange-container .yk-calendar-container .yk-calendar .yk-calendar-control-nav .nav-prev::before {
  content: " ";
  border-top: .5em solid transparent;
  border-bottom: .5em solid transparent;
  border-right: .75em solid #000;
  width: 0;
  height: 0;
  display: block;
  margin: 0 auto
}

.yk-dateRange-container .yk-calendar-container .yk-calendar .yk-calendar-control-nav .nav-next::before {
  border-right: 0;
  border-left: .75em solid #000
}

.yk-dateRange-container .yk-calendar-container .yk-calendar .yk-calendar-control-content {
  width: -webkit-calc(100% * 6 / 8);
  width: -moz-calc(100% * 6 / 8);
  width: calc(100% * 6 / 8);
  text-align: center
}

.yk-dateRange-container .yk-calendar-container .yk-calendar .yk-calendar-control-content .month, .yk-dateRange-container .yk-calendar-container .yk-calendar .yk-calendar-control-content .year {
  display: inline-block;
  cursor: pointer;
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  -moz-transition: transform .2s ease, -moz-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease, -moz-transform .2s ease
}

.yk-dateRange-container .yk-calendar-container .yk-calendar .yk-calendar-control-content .month:hover, .yk-dateRange-container .yk-calendar-container .yk-calendar .yk-calendar-control-content .year:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2)
}

.yk-dateRange-container .yk-calendar-container .yk-calendar .yk-calendar-control-content .month {
  margin-right: 8px;
  margin-right: .5rem;
  font-weight: 700
}

.yk-dateRange-container .yk-calendar-container .yk-calendar .yk-calendar-control-content .year {
  font-style: italic;
  color: #999
}

.yk-dateRange-container .yk-calendar-container .yk-calendar .yk-calendar-content {
  width: 100%
}

.yk-dateRange-container .yk-calendar-container .yk-calendar .yk-calendar-content .yk-calendar-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%
}

.yk-dateRange-container .yk-calendar-container .yk-calendar .yk-calendar-content .yk-weekday {
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  text-align: left;
  color: #999;
  width: -webkit-calc(100% / 7);
  width: -moz-calc(100% / 7);
  width: calc(100% / 7)
}

.yk-dateRange-container .yk-calendar-container .yk-calendar .yk-calendar-content .yk-day {
  font-size: 12px;
  line-height: 20px;
  position: relative;
  height: 28px;
  cursor: pointer;
  width: -webkit-calc(100% / 7);
  width: -moz-calc(100% / 7);
  width: calc(100% / 7);
  margin: 3px 0
}

.yk-dateRange-container .yk-calendar-container .yk-calendar .yk-calendar-content .yk-day.out-focus {
  color: #ddd
}

.yk-dateRange-container .yk-calendar-container .yk-calendar .yk-calendar-content .yk-day.out-focus:hover {
  color: #000
}

.yk-dateRange-container .yk-calendar-container .yk-calendar .yk-calendar-content .yk-day.is-within-range {
  background: #4e5862;
  color: #333
}

.yk-dateRange-container .yk-calendar-container .yk-calendar .yk-calendar-content .yk-day.is-within-range.is-from {
  -moz-border-radius-topleft: 50%;
  border-top-left-radius: 50%;
  -moz-border-radius-bottomleft: 50%;
  border-bottom-left-radius: 50%
}

.yk-dateRange-container .yk-calendar-container .yk-calendar .yk-calendar-content .yk-day.is-within-range.is-to {
  -moz-border-radius-topright: 50%;
  border-top-right-radius: 50%;
  -moz-border-radius-bottomright: 50%;
  border-bottom-right-radius: 50%
}

.yk-dateRange-container .yk-calendar-container .yk-calendar .yk-calendar-content .yk-day .yk-day-num {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -moz-border-radius: 50%;
  border-radius: 50%
}

.yk-dateRange-container .yk-calendar-container .yk-calendar .yk-calendar-content .yk-day .yk-day-num.is-active, .yk-dateRange-container .yk-calendar-container .yk-calendar .yk-calendar-content .yk-day .yk-day-num:hover {
  background: #2c3e50;
  color: #fff
}

.yk-dateRange-container .yk-calendar-container .yk-calendar-sidebar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 10px;
}

.yk-dateRange-container .yk-calendar-container .yk-calendar-sidebar .yk-sidebar-btns {
  display: none;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  width: 100%;
  height: 100%
}

@media only screen and (min-width: 768px) {
  .yk-dateRange-container .yk-calendar-container .yk-calendar-sidebar .yk-sidebar-btns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex
  }
}

.yk-dateRange-container .yk-calendar-container .yk-calendar-sidebar .yk-sidebar-btns .yk-btn {
  background: #fff;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid #2c3e50;
  height: 40px;
  width: 138px;
  text-align: center;
  outline: 0;
  margin: 5px 0;
  padding: 0;
  color: #6b737c;
  cursor: pointer
}

.yk-dateRange-container .yk-calendar-container .yk-calendar-sidebar .yk-sidebar-btns .yk-btn:hover {
  background: #acd5ed
}

.yk-dateRange-container .yk-calendar-container .yk-calendar-sidebar .yk-sidebar-btns .yk-btn.is-active {
  background: #2c3e50;
  color: #fff
}

.yk-dateRange-container .yk-calendar-container .yk-calendar-sidebar .yk-sidebar-inputs {
  width: 150px;
  height: 100px;
  background: #fff;
  -moz-border-radius: 7px;
  border-radius: 7px;
  border: 1px solid #2c3e50;
  margin: 10px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

@media only screen and (min-width: 768px) {
  .yk-dateRange-container .yk-calendar-container .yk-calendar-sidebar .yk-sidebar-inputs {
    display: none
  }
}

.yk-dateRange-container .yk-calendar-container .yk-calendar-sidebar .yk-sidebar-inputs .yk-input-section {
  width: 100%;
  height: 50%
}

.yk-dateRange-container .yk-calendar-container .yk-calendar-sidebar .yk-sidebar-inputs .yk-input-section:first-child {
  -moz-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
  border-bottom: .5px solid #d4dade
}

.yk-dateRange-container .yk-calendar-container .yk-calendar-sidebar .yk-sidebar-inputs .yk-input-section:last-child {
  -moz-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
  border-top: .5px solid #d4dade
}

@-webkit-keyframes popover {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px) scale(.8);
    transform: translateY(-50px) scale(.8)
  }
  80% {
    opacity: 1;
    -webkit-transform: translateY(10px) scale(1.05);
    transform: translateY(10px) scale(1.05)
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1)
  }
}

@-moz-keyframes popover {
  0% {
    opacity: 0;
    -moz-transform: translateY(-50px) scale(.8);
    transform: translateY(-50px) scale(.8)
  }
  80% {
    opacity: 1;
    -moz-transform: translateY(10px) scale(1.05);
    transform: translateY(10px) scale(1.05)
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1)
  }
}

@keyframes popover {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px) scale(.8);
    -moz-transform: translateY(-50px) scale(.8);
    transform: translateY(-50px) scale(.8)
  }
  80% {
    opacity: 1;
    -webkit-transform: translateY(10px) scale(1.05);
    -moz-transform: translateY(10px) scale(1.05);
    transform: translateY(10px) scale(1.05)
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
    -moz-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1)
  }
}