<div class="yk-dateRange-container">
    <div class="yk-input-container" [formGroup]="form">
        <div class="yk-input-section"
             (click)="toggleCalendar('from')"
             [ngClass]="{'is-active': opened === 'from'}">
            <span class="yk-label">{{ datePick?.from | datex: 'DD.MM.YYYY HH:mm' }}
            <i class="fa fa-calendar"></i>
            </span>
            <input [formControlName]="fromControlName" required hidden>
        </div>
        <div class="yk-input-section"
             (click)="toggleCalendar('to')"
             [ngClass]="{'is-active': opened === 'to'}">
            <span class="yk-label">{{ datePick?.to | datex: 'DD.MM.YYYY HH:mm' }}&nbsp;
            <i class="fa fa-calendar"></i>
            </span>
            <input [formControlName]="toControlName" required hidden>
        </div>
    </div>
    <div class="yk-calendar-container"
         [ngClass]="{ 'is-opened': !!opened, 'is-to': opened === 'to' }">
        <div class="yk-cancel-icon" (click)="toggleCalendar(false)">
            <i class="fa fa-times-circle"></i></div>
        <div class="yk-calendar">
            <div class="yk-calendar-control">
                <div class="yk-calendar-control-nav">
                    <span class="nav-prev" (click)="prevMonth()"></span></div>
                <div class="yk-calendar-control-content">
                    <div class="content"><span class="month" translate>{{moment | datex: 'MMMM'}}</span>
                        <span class="year">{{moment | datex: 'YYYY'}}</span>
                    </div>
                </div>
                <div class="yk-calendar-control-nav">
                    <span class="nav-next" (click)="nextMonth()"></span>
                </div>
            </div>
            <div class="yk-calendar-content">
                <div class="yk-calendar-row">
                    <span class="yk-weekday" *ngFor="let day of dayNames" translate>{{ day }}</span>
                </div>
                <div class="yk-calendar-row">
                    <div class="yk-day" *ngFor="let date of dates" [ngClass]="{
						  'out-focus': date.getMonth() !== moment.getMonth(),
						  'is-within-range': isWithinRange(date),
						  'is-from': isDateRangeFrom(date),
						  'is-to': isDateRangeTo(date) }"
                         (click)="selectDate(date)">
                        <span class="yk-day-num"
                              [ngClass]="{'is-active': isDateRangeFrom(date) || isDateRangeTo(date)}">
                            {{ date | datex: 'D' }}</span>
                    </div>
                </div>
                <div class="yk-calendar-row">
                    <bi-timepicker [model]="currentDate"
                                   [hourStep]="1"
                                   [minuteStep]="15"
                                   [readonly]="false"
                                   [buttonShow]="false"
                                   (setTime)="onSetTime($event)"
                                   (updated)="onUpdateTime($event)">
                    </bi-timepicker>
                </div>
            </div>
        </div>
        <div class="yk-calendar-sidebar">
            <div class="btn-group-vertical nav-stack">
                <a style="margin-bottom: 10px;"
                   class="btn btn-default"
                   (click)="selectRange('tm')" translate>DATETIME_RANGE.THIS_MONTH</a>
                <a style="margin-bottom: 10px;"
                   class="btn btn-default"
                   (click)="selectRange('lm')" translate>DATETIME_RANGE.LAST_MONTH</a>
                <a style="margin-bottom: 10px;"
                   class="btn btn-default"
                   (click)="selectRange('tw')" translate>DATETIME_RANGE.THIS_WEEK</a>
                <a style="margin-bottom: 10px;"
                   class="btn btn-default"
                   (click)="selectRange('lw')" translate>DATETIME_RANGE.LAST_WEEK</a>
                <a style="margin-bottom: 10px;"
                   class="btn btn-default"
                   (click)="selectRange('ty')" translate>DATETIME_RANGE.THIS_YEAR</a>
                <a style="margin-bottom: 10px;"
                   class="btn btn-default"
                   (click)="selectRange('ly')" translate>DATETIME_RANGE.LAST_YEAR</a>
            </div>
            <div class="yk-sidebar-inputs">
                <div class="yk-input-section" (click)="toggleCalendar('from')"
                     [ngClass]="{'is-active': opened === 'from'}"><span class="yk-label">Start</span> <span
                        class="yk-content">{{datePick?.from | datex: 'mediumDate' }}</span> <span class="yk-icon"><i
                        class="fa fa-calendar"></i></span></div>
                <div class="yk-input-section" (click)="toggleCalendar('to')" [ngClass]="{'is-active': opened === 'to'}">
                    <span class="yk-label">End</span> <span
                        class="yk-content">{{datePick?.to | datex: 'mediumDate' }}</span> <span class="yk-icon"><<i
                        class="fa fa-calendar"></i></span></div>
            </div>
        </div>
    </div>
</div>