<div [formGroup]="group">
    <div style="margin-bottom: 10px">
        <div class="radio rtl radio-primary radio-inline">
            <input type="radio"
                   id="yes-{{ index }}"
                   value="$and"
                   formControlName="association">
            <label for="yes-{{ index }}">AND</label>
        </div>
        <div class="radio rtl radio-primary radio-inline">
            <input type="radio"
                   id="no-{{ index }}"
                   value="$or"
                   formControlName="association">
            <label for="no-{{ index }}">OR</label>
        </div>
    </div>
    <div class="panel" style="border-color: #ccc; margin-bottom: 10px;" formGroupName="group"
         [ngClass]="{'not-active-group': !group.value.active}">
        <div class="panel-heading" style="border-color: #ddd;font-size: 16px;padding: 5px 15px 5px 15px;">
            <div class="row vertical-align">
                <div class="col-md-3"><b translate [translateParams]="{value: index}">SELECTOR.FORM.GROUP_N</b></div>
                <div class="col-md-6">
                    <div class="radio rtl radio-primary radio-inline">
                        <input type="radio"
                               id="inner-yes-{{ index }}"
                               formControlName="association"
                               value="$and">
                        <label for="inner-yes-{{ index }}" translate>SELECTOR.FORM.ASSOCIATION<span>: AND</span></label>
                    </div>
                    <div class="radio rtl radio-primary radio-inline">
                        <input type="radio"
                               id="inner-no-{{ index }}"
                               formControlName="association"
                               value="$or">
                        <label for="inner-no-{{ index }}">OR</label>
                    </div>
                </div>
                <div class="col-md-3 text-right hand add-filter">
                    <i class="checkbox fa fa-plus"
                       (click)="onAddFilter()"></i>
                    <i class="checkbox fa fa-times-circle"
                       style="padding-left: 5px;"
                       (click)="onDeleteGroup()"></i>
                </div>
            </div>
        </div>
        <div class="panel-body" style="padding-bottom: 0;">
            <div formArrayName="filters">
                <bi-filter-form *ngFor="let filter of groupConfig.group.filters; let filterIndex = index"
                           [group]="index"
                           [index]="filterIndex"
                           [filterConfig]="filter"
                           [parent]="group">
                </bi-filter-form>
            </div>
            <div class="pull-right" style="margin: 0 10px 10px;">
                <button class="btn btn-default btn-sm"
                        [disabled]="!hasFilters || !group.value.active"
                        (click)="onDisable()" translate>SELECTOR.FORM.DISABLE_BTN
                </button>
                <button class="btn btn-default btn-sm"
                        [disabled]="!hasFilters || group.value.active || !group.valid"
                        (click)="onApply()" translate>SELECTOR.FORM.APPLY_BTN
                </button>
            </div>
        </div>
    </div>
</div>
