<div class="container-fluid">
    <bi-selector [board]="boardResolver.board$ | async"></bi-selector>
    <div class="row" *ngFor="let row of cells">
        <div *ngFor="let cell of row"
             [ngSwitch]="cell.widget.type">
            <bi-bar *ngSwitchCase="'barChart'" [data]="cell"></bi-bar>
            <bi-pie *ngSwitchCase="'pieChart'" [data]="cell"></bi-pie>
            <bi-line *ngSwitchCase="'lineChart'" [data]="cell"></bi-line>
            <bi-row *ngSwitchCase="'rowChart'" [data]="cell"></bi-row>
            <bi-geo *ngSwitchCase="'geoChart'" [data]="cell"></bi-geo>
            <bi-table *ngSwitchCase="'dataTable'" [data]="cell"></bi-table>
            <bi-table *ngSwitchCase="'topTable'" [data]="cell"></bi-table>
            <bi-menu *ngSwitchCase="'selectMenu'" [data]="cell"></bi-menu>
            <bi-box *ngSwitchCase="'boxPlot'" [data]="cell"></bi-box>
        </div>
    </div>
</div>
