<fieldset>
    <div class="tp">
        <div class="tp-data">
            <button type="button"
                    class="btn-link btn-sm"
                    style="margin-bottom: -5px;"
                    *ngIf="caretShow"
                    (click)="changeHour(hourStep)">
                <i class="fa fa-caret-up" aria-hidden="true"></i>
            </button>
            <div *ngIf="readonly">{{model | date: 'HH'}}</div>
            <input *ngIf="!readonly"
                   class="form-control"
                   style="font-size: 12px;height: 30px;"
                   maxlength="2" size="3"
                   placeholder="HH"
                   aria-label="Hours"
                   [value]="model | date: 'HH'"
                   (change)="onUpdateHours($event.target.value)">
            <button type="button"
                    class="btn-link btn-sm"
                    style="margin-top: -5px;"
                    *ngIf="caretShow"
                    (click)="changeHour(-hourStep)">
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </button>
        </div>
        <div class="tp-spacer">:</div>
        <div class="tp-data">
            <button type="button"
                    class="btn-link btn-sm"
                    style="margin-bottom: -5px;"
                    *ngIf="caretShow"
                    (click)="changeMinute(minuteStep)">
                <i class="fa fa-caret-up" aria-hidden="true"></i>
            </button>
            <div *ngIf="readonly">{{model | date: 'mm'}}</div>
            <input *ngIf="!readonly"
                   class="form-control"
                   style="font-size: 12px;height: 30px;"
                   maxlength="2" size="3"
                   placeholder="MM"
                   aria-label="Minutes"
                   [value]="model | date: 'mm'"
                   (change)="onUpdateMinutes($event.target.value)">
            <button type="button"
                    *ngIf="caretShow"
                    class="btn-link btn-sm"
                    style="margin-top: -5px;"
                    (click)="changeMinute(-minuteStep)">
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </button>
        </div>
        <div class="tp-spacer"></div>
        <div class="tp-data" *ngIf="buttonShow">
            <button type="button"
                    class="btn btn-default btn-sm"
                    style="margin-bottom: -5px;"
                    (click)="onSetTime()">
                Set time
            </button>
        </div>
    </div>
</fieldset>