<div class="row">
    <div class="pull-left"
         [ngClass]="{'spinner': (requestQty$ | async) !== 0}">
    </div>
    <button class="btn btn-default pull-right clearfix"
            (click)="onAddGroup()"
            style="margin-bottom: 5px">Add Group
    </button>
</div>
<div class="row">
    <form [formGroup]="form">
        <div formArrayName="groups">
            <div class="form-group">
                <bi-group *ngFor="let group of config.groups; let groupIndex = index"
                          [index]="groupIndex"
                          [groupConfig]="group"
                          [parent]="form">
                </bi-group>
            </div>
        </div>
    </form>
</div>
<div class="row" *ngIf="config.groups.length > 0">
    <div class="pull-right">
        <button class="btn btn-default"
                (click)="onApplyDisableAll(false)"
                style="margin-bottom: 5px">Disable All
        </button>
        <button class="btn clearfix"
                [ngClass]="{'btn-default': !active, 'btn-primary' : active}"
                [disabled]="!form.valid"
                (click)="onApplyDisableAll(true)"
                style="margin-bottom: 5px">Apply All
        </button>
    </div>
</div>